*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.wrap {
  width: 100vw;
  height: 100vh;
}

header {
  background-color: red;
  width: 96%;
  height: 15%;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
}

.gallery {
  width: 90%;
  height: 85%;
  margin-left: auto;
  margin-right: auto;
}

.item1 {
  background-color: green;
}

.item2 {
  background-color: orange;
}

.item3 {
  background-color: purple;
}

.item4 {
  background-color: pink;
}

.item5 {
  background-color: brown;
}

.item6 {
  background-color: blue;
}

.item1, .item2, .item3, .item4, .item5, .item6 {
  width: 31.30%;
  height: 39%;
  float: left;
  margin-top: 3%;
}

.item2, .item3, .item5, .item6 {
  margin-left: 3%;
}

@media screen and (max-width: 1300px) {
  .item1, .item2, .item3, .item4, .item5, .item6 {
    width: 48.5%;
    margin: 5% 0 0 0;
  }

  .gallery div:nth-child(odd) {
    margin-right: 3%;
  }
}
